<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>password jcryption</title>

<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/jquery.jcryption.3.1.0.js"></script>
<script type="text/javascript">
	$(function() {
		$("#passwordForm").jCryption();
	});
	//$.jCryption.defaultOptions.getKeysURL="encrypt/generateKeyPair";
	//$.jCryption.defaultOptions.handshakeURL="encrypt/handshake";
	$.jCryption.defaultOptions.getKeysURL = "encrypt?generateKeyPair=true";
	$.jCryption.defaultOptions.handshakeURL = "encrypt?handshake=true";
</script>
</head>
<body>
	<p th:text="${input}"></p>
	<form id="passwordForm" method="post">
		<input type="password" name="password" /> <input type="submit"
			name="submit" />
	</form>
</body>
</html>