<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>password encrypt</title>
<script type="text/javascript" src="../js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="../js/jquery.jcryption.js"></script>
</head>
<body>
	<p th:text="${input}"></p>
	<form id="passwordForm" method="post">
		<input type="text" name="username" id="username"/><br/>
		<input type="password" name="password" id="password" disable="true" />
		<button id="decryptData">提交</button><br />
	</form>

	<script th:inline="javascript">
	//init service public key
	$(document).ready(function() {
		var hashObj = new jsSHA("[[${factor}]]", "ASCII");
		var password = hashObj.getHash("SHA-512", "HEX");
	 
		$.jCryption.authenticate(password, "encrypt/generateKeyPair", "encrypt/handshake",
				function(AESKey) {
					// success
					$("#password").attr("disable","false");
				},
				function() {
					// Authentication failed
				}
		);
		
		$("#decryptData").on("click",function(){
			var encryptedString = $.jCryption.encrypt($("#password").val(), password);
			$.ajax({
				url: "encrypt/decryptData",
				dataType: "json",
				type: "POST",
				data: {
					jCryption: encryptedString,
					username:$("#username").val()
				},
				success: function(response) {
					alert(response.data);
				}
			});
		});
	
	});
	
	</script>
</body>
</html>